.headerGameInfo{
    margin-top: -5;
    margin-bottom: -5;
}

.body {
    font-size: small;
}

.positionGraph {
    background : URL('C:\Users\Chris\Desktop\Coding_and_data\Projects\Independent_Projects\Riot\src\assets\actual_minimap.png')
}


.topHalf {
    display:flex; 
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: no-wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px
}

.bottomHalf {
    display:flex; 
    flex-direction:row;
    justify-content: center;
    flex-wrap: no-wrap;
    align-items: center;
    margin-top: 10px;
}

.EventLogList{
    list-style-type: none;
}

.AnalysisLogList{
    list-style-type: none;
}

.EventLogListItem{
    display:flex; 
    flex-direction:row;
    justify-content: left;
    white-space: pre;
    margin-top: -30px;
    margin-left: -25px;
}

.BlueTeamEventLogHighlightedWord{
    color: blue
}

.RedTeamEventLogHighlightedWord{
    color: red
}

.EventLogIcon{
    height:20px;
    width:20px;
}