.body {
    font-size: small;
}

.positionGraph {
    background : URL('C:\Users\Chris\Desktop\Coding_and_data\Projects\Independent_Projects\Riot\src\assets\actual_minimap.png')
}


.topHalf {
    display:flex; 
    flex-direction:row;
    justify-content: space-around
}